
<div class="box-sql-multi">

<form method="post" class="" role="form">
 	<div class="form-group">
		<button type="submit" class="btn btn-primary">执行</button>
		&nbsp;&nbsp;
		<label class="control-label">
			<input type="checkbox" 	name="explain" value="1" /> 同时解释
		</label>
		&nbsp;&nbsp;
		<span>当前连接: <?php echo $conn?$conn:'默认';?></span>
	</div>
	<div class="form-group">
		<label for="J-sql" class="control-label">SQl语句</label>&nbsp;&nbsp;多条语句使用分号分隔
		<div class="">
			<textarea class="form-control" name="sql" id="J-sql" rows="4" placeholder="请输入sql语句"><?php echo $sql;?></textarea>
		</div>
	</div>
</form>

<?php
if($result){
	include __DIR__.'/result.html';
}
?>

</div>